@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

.content {
  padding-top: 0;
}

h2 {
  font-family: 'Outfit', sans-serif;
}

.banner {
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  padding: 100px 0;
}

/* Home Page Styles */

.main-title {
  color: white;
  text-align: center;
  font-size: 50px;
}

.main-description {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.title{
  color: green;
  text-align: center;
  font-size: 40px;
  padding: 15px 0;
}

.description {
  text-align: center;
  font-size: 30px;
  width: 50%;
  margin: auto;
}

.page-section {
  padding: 40px 0;
}

/* About Page Styles */
.mini-banner {
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  color: white;
  text-align: center;
  font-size: 50px;
  padding: 50px 0;
}

.cards-container {
  display: flex;
  justify-content: center
}

.cards {
  min-width: max-width;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  width: 30rem;
  display: inline-block;
  margin: 0 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
}

.card .year {
  color: green;
  font-weight: 600;
}

/* Plot Page Styles */
.plot-description {
  text-align: center;
  font-size: 25px;
}

